.container {
  margin-bottom: 50px;
}

.banar-background {
  background-color: #feeae9;
  border-radius: 10px;
}
.carousel-item {
  padding: 20px 20px;
}

.buy-now-button {
  background-color: #dc066d;
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;

  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
.price {
  color: #dc066d;
}

.cat-1,
.cat-2,
.cat-3 {
  padding: 10px 30px;
  border-radius: 10px;
}
.cat-1 {
  background-color: orange;
}
.cat-2 {
  background-color: orchid;
}
.cat-3 {
  background-color: blue;
}

.categoris h1 {
  color: wheat;
}

.categoris img {
  width: 100px;
}

footer {
  text-align: center;
}

#email {
  height: 300;
}
